* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
}

body,
html {
  height: 100%;
  width: 100%;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background: #302c42;
  font-family: "Montserrat", sans-serif;
}

.no-scroll {
  overflow: hidden;
}

.header {
  position: absolute;
  width: 100%;
  padding: 51px 0;
  background: transparent;
  font-family: "Montserrat", sans-serif;
}
.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.header .logo-wrap {
  position: relative;
  z-index: 10;
}
.header-nav {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  overflow: auto;
}
.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 42px;
  list-style: none;
}
.header-nav__item {
  cursor: pointer;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  cursor: pointer;
}
.header-nav__item:hover {
  color: #8176af;
}
.header-nav .header-buttons__wrapper {
  display: none;
}
@media (max-width: 1025px) {
  .header-nav {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: 104px;
    right: 368px;
    background: #8176af;
    padding: 16px;
    border-radius: 8px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .header-nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 16px;
  }
  .header-nav__item:hover {
    color: #343045;
  }
  .header-nav.active {
    opacity: 1;
    visibility: visible;
  }
}
@media (max-width: 770px) {
  .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100vw;
    right: 378px;
    background: #302c42;
  }
  .header-nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
    font-size: 32px;
  }
  .header-nav__item:hover {
    color: #8176af;
  }
  .header-nav.active {
    opacity: 1;
    visibility: visible;
  }
  .header-nav .header-buttons__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 25px;
    margin-top: 60px;
  }
  .header-nav .header-buttons__wrapper .header-btn {
    border-radius: 50px;
    padding: 16px 37px;
    font-weight: 800;
    border: 2px solid #fff;
    color: #fff;
    background: transparent;
    -webkit-transition: background 0.2s, color 0.2s;
    transition: background 0.2s, color 0.2s;
    font-size: 20px;
    cursor: pointer;
  }
  .header-nav .header-buttons__wrapper button.header-btn {
    background: -webkit-gradient(linear, left top, right top, from(#8176af), to(#c0b7e8));
    background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
    color: #343045;
    border: none;
  }
}
.header-burgerMenu {
  display: none;
}
@media (max-width: 1025px) {
  .header-burgerMenu {
    display: block;
  }
  .header-burgerMenu .burger-menu {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 33px;
    height: 26px;
    cursor: pointer;
  }
  .header-burgerMenu .burger-menu .one,
  .header-burgerMenu .burger-menu .three {
    width: 33px;
    height: 3px;
    background: -webkit-gradient(linear, left top, right top, from(#c0b7e8), color-stop(109.21%, #8176af));
    background: linear-gradient(90deg, #c0b7e8 0%, #8176af 109.21%);
    border-radius: 3px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .header-burgerMenu .burger-menu .two {
    width: 24px;
    height: 3px;
    background: -webkit-gradient(linear, left top, right top, from(#c0b7e8), color-stop(109.21%, #8176af));
    background: linear-gradient(90deg, #c0b7e8 0%, #8176af 109.21%);
    border-radius: 3px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .header-burgerMenu .burger-menu:hover .one,
  .header-burgerMenu .burger-menu:hover .three {
    background: -webkit-gradient(linear, left top, right top, from(#8176af), to(#c0b7e8));
    background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
  }
  .header-burgerMenu .burger-menu:hover .two {
    background: -webkit-gradient(linear, left top, right top, from(#8176af), to(#c0b7e8));
    background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
  }
  .header-burgerMenu .burger-menu.active {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 0;
    height: 33px;
  }
  .header-burgerMenu .burger-menu.active .one {
    position: absolute;
    -webkit-transform: rotate(45deg) translateY(0px);
            transform: rotate(45deg) translateY(0px);
  }
  .header-burgerMenu .burger-menu.active .two {
    display: none;
    opacity: 0;
  }
  .header-burgerMenu .burger-menu.active .three {
    position: absolute;
    -webkit-transform: rotate(-45deg) translateY(0px);
            transform: rotate(-45deg) translateY(0px);
  }
}
.header-buttons .header-buttons__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 38px;
}
.header-buttons .header-btn {
  border-radius: 50px;
  padding: 16px 37px;
  font-weight: 800;
  border: 2px solid #fff;
  color: #fff;
  background: transparent;
  -webkit-transition: background 0.2s, color 0.2s;
  transition: background 0.2s, color 0.2s;
  cursor: pointer;
}
.header-buttons button.header-btn {
  background: -webkit-gradient(linear, left top, right top, from(#8176af), to(#c0b7e8));
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
  color: #343045;
  border: none;
}
@media (max-width: 770px) {
  .header-buttons .header-btn {
    display: none;
  }
}
@media (max-width: 1025px) {
  .header {
    padding: 25px 0;
  }
}

[class*=container] {
  width: 100%;
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}