<header class="header">
  <div class="header-container">
    <a href="/" class="logo-wrap">
      <img
        src="./assets/logo.svg"
        alt="Logo"
        srcset=""
        width="193px"
        height="103px"
      />
    </a>
    <nav class="header-nav">
      <ul class="header-nav__list">
        <li class="header-nav__item">ABOUT</li>
        <li class="header-nav__item">SERVICES</li>
        <li class="header-nav__item">TECHNOLOGIES</li>
        <li class="header-nav__item">HOW TO</li>
      </ul>
      <div class="header-buttons__wrapper">
        <a href="#" class="header-btn">CONTACT US</a>
        <button class="header-btn">JOIN HYDRA</button>
      </div>
    </nav>
    <div class="header-buttons">
      <div class="header-burgerMenu">
        <div class="burger-menu">
          <span class="one"></span>
          <span class="two"></span>
          <span class="three"></span>
        </div>
      </div>
      <div class="header-buttons__wrapper">
        <a href="#" class="header-btn">CONTACT US</a>
        <button class="header-btn">JOIN HYDRA</button>
      </div>
    </div>
  </div>
</header>
